/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes slide-up {
  0% {
    opacity: 0;
    -moz-transform: translateY(100%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes divider-mask {
  0%,
  100% {
    transform: scaleX(0); }
  40%,
  60% {
    -webkit-transform: scaleX(1); } }

@-moz-keyframes divider-mask {
  0%,
  100% {
    transform: scaleX(0); }
  40%,
  60% {
    -moz-transform: scaleX(1); } }

@keyframes divider-mask {
  0%,
  100% {
    transform: scaleX(0); }
  40%,
  60% {
    transform: scaleX(1); } }

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 55%; } }

body {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: #fafafa;
  text-align: left; }

.container {
  width: 95rem;
  margin: 0 auto; }

::selection {
  background-color: #fff;
  color: #000; }

.carousel {
  min-height: 50rem;
  width: 100%;
  overflow: hidden;
  color: #fafafa; }

.flickity-viewport {
  overflow: visible !important; }

.carousel-cell {
  width: 70%;
  background-color: #000;
  margin-left: -7rem;
  color: #fafafa; }

.carousel-heading {
  font-size: 5rem;
  width: 100%;
  color: #fafafa; }

.carousel-d {
  font-size: 2.4rem;
  line-height: 1.6;
  width: 50%;
  color: #fafafa;
  opacity: 70%; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.contact {
  background: #fff;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 53.75em) {
    .contact {
      align-items: flex-start; } }
  .contact__heading {
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    text-align: left;
    text-align: center;
    padding-top: 5rem; }
    @media only screen and (max-width: 53.75em) {
      .contact__heading {
        font-size: 2.8rem;
        margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 53.75em) {
      .contact__heading {
        text-align: left;
        padding: 5rem 2rem 0; } }
  .contact__list {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem; }
  .contact__item {
    list-style: none;
    display: inline-block;
    margin: auto; }
  .contact__link {
    color: #000;
    font-size: 3rem;
    cursor: pointer;
    transition: color .3s; }
    .contact__link:hover {
      color: #F36359; }
    @media only screen and (max-width: 53.75em) {
      .contact__link {
        font-size: 1.5rem; } }
  .contact__mail {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem; }
    @media only screen and (max-width: 53.75em) {
      .contact__mail {
        text-align: left;
        padding: 2rem 2rem 0; } }
  .contact__name, .contact__email, .contact__message {
    background: transparent;
    flex: 0 0 50%;
    border: none;
    outline: none;
    border-bottom: 0.5px solid #ccc;
    padding: 2rem 0;
    width: 80%; }
    .contact__name:focus, .contact__email:focus, .contact__message:focus {
      outline: none;
      border-bottom: 3px solid #718093; }
    .contact__name::-webkit-input-placeholder, .contact__email::-webkit-input-placeholder, .contact__message::-webkit-input-placeholder {
      color: #718093;
      text-transform: capitalize;
      font-size: 1.6rem; }
  .contact__message {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    padding: 8rem 0;
    resize: none; }
  .contact__form {
    width: 100%;
    padding: 10rem 0; }
    .contact__form-box {
      display: flex;
      flex-wrap: wrap; }
    .contact__form-name {
      flex: 0 0 50%; }
    .contact__form-email {
      flex: 0 0 50%; }
    .contact__form-message {
      flex: 0 0 100%; }
    .contact__form-submit {
      background-color: transparent;
      border: none;
      text-decoration: none;
      color: #F36359;
      font-size: 1.4rem;
      text-transform: uppercase;
      display: flex;
      margin: 2rem 0;
      cursor: pointer;
      font-size: 1.8rem;
      margin-top: 3rem; }
      .contact__form-submit::before {
        content: "";
        display: block;
        height: .2rem;
        width: 3.5rem;
        background-color: #F36359;
        align-items: center;
        margin: 1rem 1rem 0 0; }
      .contact__form-submit:active, .contact__form-submit:focus {
        outline: none;
        box-shadow: 0 0.5rem 1rem rgba(243, 99, 89, 0.1); }
    .contact__form-buttons {
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 53.75em) {
        .contact__form-buttons {
          flex-direction: column; } }

.profile {
  margin-top: 16rem; }
  .profile__first-about-me {
    font-size: 8rem;
    margin-top: 15rem; }

.more-text {
  overflow: hidden;
  font-size: 20rem;
  margin: 20rem 0;
  display: inline-block;
  width: 100%;
  text-align: right;
  overflow: hidden; }

.second-about-me {
  max-width: 72rem;
  font-size: 2.5rem;
  font-weight: 400;
  padding-left: 10rem;
  line-height: 2.8;
  display: block;
  margin: 0 auto; }

.number {
  margin: 25rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align: left; }
  .number__container {
    display: inline-block;
    display: block; }
    .number__container-one {
      font-size: 10rem; }
    .number__container-two {
      font-size: 2rem;
      opacity: 60%; }

.experience {
  background-color: #000;
  color: #fafafa;
  font-weight: 400; }
  .experience__heading {
    font-size: 8rem;
    text-align: left;
    padding: 30rem 0; }

.experience-date {
  font-size: 2rem;
  display: block;
  margin-bottom: 7rem; }

.work {
  display: flex;
  padding: 4rem 0 8rem;
  line-height: 1.9; }
  @media only screen and (max-width: 32em) {
    .work {
      flex-direction: column;
      padding: 2rem 0; } }
  .work__box {
    margin: 8rem -5rem 0 0;
    position: relative;
    z-index: 1;
    background-color: #fafafa; }
    @media only screen and (max-width: 53.75em) {
      .work__box {
        margin: 5rem -15rem 0 0; } }
  .work__heading {
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    text-align: left; }
    @media only screen and (max-width: 53.75em) {
      .work__heading {
        font-size: 2.8rem;
        margin-bottom: 1.5rem; } }
  .work__text {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    text-align: left;
    padding-right: 3rem; }
  .work__link {
    text-decoration: none;
    color: #F36359;
    font-size: 1.4rem;
    text-transform: uppercase;
    display: flex;
    margin: 2rem 0;
    cursor: pointer; }
    .work__link::before {
      content: "";
      display: block;
      height: .2rem;
      width: 3.5rem;
      background-color: #F36359;
      align-items: center;
      margin: 1rem 1rem 0 0; }
  .work__img {
    flex: 0 0 60%; }
    .work__img-photo {
      width: 100%;
      height: auto;
      max-width: 100%;
      display: block;
      -webkit-box-shadow: -5px 0px 11px -8px rgba(0, 0, 0, 0.87);
      -moz-box-shadow: -5px 0px 11px -8px rgba(0, 0, 0, 0.87);
      box-shadow: -5px 0px 11px -8px rgba(0, 0, 0, 0.87); }

.footer {
  background-color: #fff;
  padding: 1.5rem 0;
  text-align: center; }

.header {
  background-color: #fafafa; }
  .header__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem; }
    .header__box-img {
      margin-top: -15rem; }
  .header__heading {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2px; }
  .header__title {
    font-size: 25rem;
    text-transform: capitalize;
    line-height: 20rem;
    z-index: 1;
    text-align: center; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7rem; }
  .navigation__name {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .navigation__list {
    display: flex;
    align-items: center;
    margin: 2rem; }
  .navigation__item {
    list-style-type: none;
    font-size: 3rem; }
    .navigation__item:not(:last-child) {
      margin-right: 4rem; }
      @media only screen and (max-width: 32em) {
        .navigation__item:not(:last-child) {
          margin-right: 1rem; } }
    @media only screen and (max-width: 32em) {
      .navigation__item {
        font-size: .9rem; } }
  .navigation__link {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    transition: color .2s; }
    .navigation__link:hover {
      color: #F36359; }
