@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 53.75em) { @content };    //850px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 62.5em) { @content };     //1000px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin heading {
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    @include respond(tablet) {
      font-size: 2.8rem;
      margin-bottom: 1.5rem;
     }
 
}
@mixin link {
        text-decoration: none;
        color: $color-red;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: flex;
        margin: 2rem 0;
        &::before {
            content: "";
            display: block;
            height: .2rem;
            width: 3.5rem;
            background-color: $color-red;
            align-items: center;
            margin: 1rem 1rem 0 0;
        }
}
