.footer {
  background-color: $color-white;
  padding: 1.5rem 0;
  &__box {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      @include respond(phone) {
         font-size: .5rem;
      }

  }
&__copyright {
   text-transform: uppercase;
}
&__email {
   text-decoration: none;
   color: inherit;
   display: inline-block;
}
}