.footer {
  background-color: $color-white;
  padding: 1.5rem 0;
  &__box {
      display: flex;
      justify-content: space-between;
  }

&__copyright {
   text-transform: uppercase;
   font-size: 1.2rem;
}
&__email {
   text-decoration: none;
   color: inherit;
   font-size: 1.2rem;
   display: inline-block;
}
}