.social {
  margin: 40rem 0 20rem 0;
  @include respond(big-screen) {
    margin: 40rem 0 5rem 0;
  }
  @include respond(tablet) {
    margin: 20rem 0 5rem 0;
  }
  @include respond(phone) {
    margin: 15rem 0 5rem 0;
  }

  &__list {
    display: block;
  }
  &__item {
    font-family: 'Schnyder L', sans-serif;
    display: block;
    font-size: 20rem;
    font-weight: 500;
    text-align: center;
    transition: all .3s ;
    @include respond(tablet) {
      font-size: 15rem;
    }
    @include respond(phone) {
      font-size: 10rem;
    }
    &:hover {
      color: $color-primary;
      -webkit-text-stroke: .6px $color-black;
    }
  }
  &__link {
    text-decoration: none;
    color: $color-black;
  }
}
.heart {
   width: 100px;
   display: block;
   margin: 0 auto;
   display: inline-block;
}
.copyright {
  font-size: 1.5rem;
  display: inline-block;
  margin-top: -13rem;
  @include respond(tablet) {
    margin-top: -16rem;
  }
  @include respond(tablet) {
    margin-top: -13rem;
  }
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sub-footer {
    display: flex;
    justify-content: space-between;

  &__credit {
    display: flex;
    flex-direction: column;
    text-align: left;
    &-p {
      font-size: 1.1rem;
      margin-bottom: -0.5rem;
    }
    &-link {
       text-decoration: none;
       color: $color-black;
    }
  }
  &__top {
    font-size: 2rem;
    text-transform: uppercase;
    float: right;
    @include respond(phone) {
     margin-top: 10rem;
     float: none;
     text-align: center;
    }
    &-link {
      text-decoration: none;
      color: $color-black;
    }
  }
}
.project-preview {
  position: fixed;
  top: 12%;
  left: 50%;
  width: 0px;
  height: 400px;
  background-size: cover;
  overflow: hidden;
  @include respond(phone) {
   display: none;
   }
 }







