.header {
    background-color: $color-white;
}
.logo {
    width: 15rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    &__list {
       display: flex;
       align-items: center;
       margin: 3rem;
    }
    &__item {
       list-style-type: none;
       font-size: 1.2rem;
       &:not(:last-child) {
           margin-right: 3.5rem;
       }
    }
    &__link {
       text-decoration: none;
       color: $color-black;
       text-transform: capitalize;
       transition: color .2s;
       &:hover {
           color: $color-red;
     }
    }
}