.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7rem;



    &__name {
       font-size: 3rem;
       text-transform: uppercase;
       letter-spacing: .2rem;
    }
    &__list {
       display: flex;
       align-items: center;
       margin: 2rem;
    }
    &__item {
       list-style-type: none;
       font-size: 3rem;

       &:not(:last-child) {
           margin-right: 4rem;
       }
    }
    &__link {
       text-decoration: none;
       color: $color-black;
       text-transform: capitalize;
       transition: color .2s;
       &:hover {
           color: $color-red;
       }
    }
}

