.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  position: fixed;
  top: 1rem;
  z-index: 100000000000000000;
    &__list {
       display: flex;
       align-items: center;
       margin: 2rem;
       opacity: 70%;
    }
    &__item {
       list-style-type: none;
       font-size: 3rem;
       &:not(:last-child) {
           margin-right: 4rem;
       }
       &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $color-black;
          transition: width .3s;
       }
       &:hover::after {
         width: 100%;
         transition: width .3s;
       }
    }
    &__link {
       text-decoration: none;
       color: $color-black;
       text-transform: capitalize;
       transition: color .2s;
    }
}
.circular-text {
  color: black;
  font-size: 1.2rem;
  transition: 3s ease-out;
  transform: translate(-50%, -20%);
  text-transform: uppercase;
  font-weight: bolder;
 -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  font-family: "monument extended";
  opacity: 100% !important;
}
.delete {
   display: none;
}



//cursor
.cursor {
   position: absolute;
   background-color: #fff;
   width: 10px;
   height: 10px;
   border-radius: 100%;
   z-index: 1;
   transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 
   0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
   user-select: none;
   pointer-events: none;
   transform: scale(0.8);
   &::before {
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     background-image: url("../../img/drag.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 100%;
     opacity: 0;
   }
 }
 .cursor.active {
   opacity: 1;
   transform: scale(12);
 }
 .cursor.active::before {
   opacity: 1;
 }
 .cursor-follower {
   position: absolute;
   background: rgba(255, 255, 255, 0.1);
   width: 40px;
   height: 40px;
   border-radius: 100%;
   z-index: 1;
   transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
       0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
   user-select: none;
   pointer-events: none;
   transform: translate(4px, 4px);
 }
 .cursor-follower.active {
   opacity: 0.3;
   transform: scale(0);
 }
 
 
 //scroll indicator 
 .percent {
     position: fixed;
     display: flex;
     flex-direction: column;
     background: #909090;
     height: 140px;
     width: 1px;
     margin: -100px 0 0 0px;
     @include respond(phone) {
         display: none;
       }
 }
 .fill {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 100%;
     background: $color-black;
     transition: background 0.15s ease;
     @include respond(phone) {
         display: none;
       }
 }