.hero-slider {
  height: 70vh;
  overflow: hidden;
  .carousel-cell {
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    display: flex;
    .slide-content {
      position: relative;
      text-align: left;
      .title {
        position: relative;
        @include heading; 
         @include respond(phone) {
           font-size: 1.9rem;
          }
        }
      .caption {
        font-size: 1.6rem;
        margin: 1rem 3rem 3rem 0;
        @include respond(tablet) {
          font-size: 1.2rem;
          }
        @include respond(phone) {
            font-size: .9rem;
            margin: .3rem 1rem .3rem 0;
        }

       }
    }
  }
  .carousel-icon {
    font-size: 2rem;
    @include respond(tablet) {
      font-size: 1rem;
    }
  }
  .flickity-page-dots {
    bottom: 3rem;
  
    .dot{
      width: 3rem;
      height: .4rem;
      opacity: 1;
      background: $color-black;
      border: 0 solid $color-black;
      border-radius: 0;
      
      &.is-selected{
        background: $color-red;
        border: 0 solid $color-red; 
        width: 6rem;
      }
    }
  }
}
/* --------------------------------
Masking
-------------------------------- */
.slide-content {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}
.slide-content {
  .title,
  .carousel-icon,
  .learning-title,
  .profile__link,
  .fas,
  .caption {
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
  }
}
.carousel-img {
  flex: 0 0 45%;
}

.mask {
&__img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
}
.slide-content.mask {
  .mask{
    position: relative;
    overflow: hidden;
  }
.title,
.learning-title{
    animation-duration: 0.4s;
    animation-delay: 0.7s;
    animation-name: slide-up;
    animation-fill-mode: backwards;
    opacity: 1;
  }
.divider {
    display: inline-block;
    position: relative;
    margin: 5px auto;
    height: 2px;
    width: 60%;
    background-color: $color-red;
    animation: divider-mask 1s 0.3s both;
  }
.caption,
.carousel-icon,
.profile__link,
.fas{
    animation-duration: 0.4s;
    animation-delay: 0.7s;
    animation-name: slide-down;
    animation-fill-mode: backwards;
    opacity: 1;

    }
}

.learning-title {
  font-size: 2.3rem; 
  text-transform: capitalize;
  @include respond(tablet) {
    font-size: 1.2rem;
    }
    @include respond(phone) {
      font-size: .9rem;
    }
}
