.carousel {
  min-height: 50rem;
  width: 100%;
  overflow: hidden;
}
.flickity-viewport {
  overflow: visible !important;
}
.carousel-cell {
  width: 70%;
  margin-left: -7rem;
  color: $color-black;
  @include respond(phone) {
    width: 100%;
    padding: 0 0 0 2rem;
}
}
.carousel-heading {
  font-size: 5rem;
  width: 100%;
  color: $color-black;
  @include respond(tablet) {
    font-size: 3rem;
 }
}
.carousel-d {
  font-size: 2.4rem;
  line-height: 1.6;
  width: 50%;
  color: $color-black;
  opacity: 75%;
  @include respond(tablet) {
    font-size: 2rem;
 }
 @include respond(phone) {
  width: 70%;
}
}

.experience {
  color: $color-black;
}
.experience-date {
 font-size: 2rem;
 display: block;
 margin-bottom: 7rem;
}
.project-preview {
 position: fixed;
 top: 12%;
 left: 50%;
 width: 0px;
 height: 400px;
 background-size: cover;
 overflow: hidden;
}