
.carousel {
  min-height: 50rem;
  width: 100%;
  overflow: hidden;
  color: #fafafa;


}
.flickity-viewport {
  overflow: visible !important;

}

.carousel-cell {
  width: 70%;
  background-color: $color-black;
  margin-left: -7rem;
  color: #fafafa;
}


.carousel-heading {
  font-size: 5rem;
  width: 100%;
  color: #fafafa;
}
.carousel-d {
  font-size: 2.4rem;
  line-height: 1.6;
  width: 50%;
  color: #fafafa;
  opacity: 70%;
}



//projects carousell 

.project__carousel-cell {
  width: 100%;
  height: 130rem;
  position: relative;
  z-index: 100;
  padding: 20rem 0;
  background-color: #fafafa;
  
}

