.contact {
    background-color: $color-black;
    background-repeat: no-repeat;
    width: 100%;
    height: 135vh;
    background-size: cover;
    margin-top: 40rem;
    color: #fafafa;
    @include respond(tab-land) {
        height: 95vh;
        padding-top: 10rem;
        margin-top: 20rem;
     }
    @include respond(tablet) {
        height: 90vh;
        margin-top: 15rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
     }
    @include respond(phone) {
       height: 70vh;
    }
    
    &__details {
     color: inherit;
     font-size: 2rem;
     opacity: 70%;
     width: 60%;
     margin-top: 10rem;
     margin-bottom: 10rem;
     @include respond(tablet) {
        margin-left: 5rem;
        margin-bottom: 4rem;
        width: 100%;
     }
     @include respond(phone) {
        margin-left: 0rem;
    }
    }
    &__email {
        font-family: 'Schnyder L', sans-serif;
        color: inherit;
        font-size: 3.7rem;
        @include respond(tablet) {
            margin-left: 5rem;
         }
         @include respond(phone) {
            margin-left: 0rem;
        }
    }
    &__link {
        text-decoration: none;
        color: #fafafa;
    }
}
.u-margin-top {
    margin-top: 30rem;
}



  //carousell
  
  .experience {
     background-color: $color-black;
     color: #fafafa;

     @include respond(tablet) {
          height: 90vh;
     }
     
     &__heading {
       font-size: 8rem;
       text-align: left;
       padding: 15rem 0;
       line-height: 1.2;
       margin-bottom: 30rem;

       @include respond(tablet) {
        font-size: 6rem;
     }
     @include respond(tablet) {
        padding-bottom: 10rem;
     }
     }
  }
  
  .experience-date {
    font-size: 2rem;
    display: block;
    margin-bottom: 7rem;
  }

  
  
  .project-preview {
    position: fixed;
    top: 12%;
    left: 50%;
    width: 0px;
    height: 400px;
    background-size: cover;
    overflow: hidden;
  }




.circle {
    font-family: 'Schnyder L', sans-serif;
    font-size: 3rem;
    animation: text-animation 15s infinite linear;
    margin-top: 5rem;
    text-transform: uppercase;  
    @include respond(tablet) {
        font-size: 2rem;
        margin-bottom: 10rem;
     }   
}




.unicorn {
    display: flex;
    justify-content: space-between;
    margin-top: 33rem;
    @include respond(tablet) {
        margin-top: 0rem;
    }  
    @include respond(phone) {
        flex-direction: column;
    }  
   
    &__heading {
        font-size: 5rem;
        font-family: 'Schnyder L', sans-serif;
        @include respond(tab-land) {
            margin-top: 20rem;
        }
        @include respond(tablet) {
                margin-top: 0rem;
        }
        @include respond(phone) {
            margin-top: 0rem;
            margin-bottom: 5rem;
        }  
    }

   

    &__numbers {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10rem;      

        &-section {
          font-size: 3rem;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $color-black;
          padding: 3rem 0;
          position: relative;
          opacity: 60%;

          @include respond(tablet) {
            opacity: 100%;
         }
    
          &:first-of-type {
              border-top: 1px solid $color-black;
          }

          &:hover {
              opacity: 100%;
          }

        &:first-child:hover::before {
            content: "";
            z-index: -1;
            width: 500px;
            height: 300px;
            display: block;
            position: absolute;
            bottom: 50%;
            left: 10rem;
            background: url(../../img/juno.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 1s;
            animation: fade-in 2s ease-in-out;
            @include respond(tablet) {
                display: none;
               }
        }
        &:nth-child(2):hover::before {
            content: "";
            z-index: -1;
            width: 500px;
            height: 300px;
            display: block;
            position: absolute;
            bottom: 40%;
            left: -10rem;
            background: url(../../img/doctalk.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 1s;
            animation: fade-in 2s ease-in-out;
            @include respond(tablet) {
                display: none;
               }
        }
        &:nth-child(3):hover::before {
            content: "";
            z-index: -1;
            width: 500px;
            height: 300px;
            display: block;
            position: absolute;
            bottom: 30%;
            left: -30rem;
            background: url(../../img/speaking.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 1s;
            animation: fade-in 2s ease-in-out;
            @include respond(tablet) {
                display: none;
               }
        }
        &:nth-child(4):hover::before {
            content: "";
            z-index: -100;
            width: 500px;
            height: 300px;
            display: block;
            position: absolute;
            bottom: 0%;
            left: 10rem;
            background: url(../../img/wa.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 1s;
            animation: fade-in 2s ease-in-out;
            @include respond(tablet) {
                display: none;
               }
        }

        }
    }

}



.u-margin-right {
    margin-right: 35rem;
    @include respond(tablet) {
        margin-right: 10rem;
       }
    @include respond(phone) {
       margin-right: 0rem;
      }
}





