.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.contact {
  background: $color-white;
  margin-top: 8rem;
    &__name, 
    &__email,
    &__message {
      background: transparent;
      flex: 0 0 50%;
      border: none;
      outline: none;
      border-bottom: .5px solid $color-grey-light;
      padding: 2rem 0;
      width: 80%;
      &:focus {
        outline: none;
        border-bottom: 3px solid $color-grey;
    }
    &::-webkit-input-placeholder {
        color: $color-grey;
        text-transform: capitalize;
        font-size: 1.6rem;
    }
    }
    &__message {
      background: transparent;
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid $color-black;
      padding: 8rem 0;
      resize:none
    }
    &__form {
      width: 100%;
      padding: 10rem 0;
      &-box {
       display: flex;
       flex-wrap: wrap;
      }
      &-name{
        flex: 0 0 50%;
      }
      &-email {
        flex: 0 0 50%; 
      }
      &-message {
        flex: 0 0 100%;
      }
      &-submit {
        background-color: transparent;
        border: none;
        @include link;
        font-size: 1.8rem;
        margin-left: auto;
        margin-top: 3rem;  
    }  
}
}