.profile {
    display: flex;
     margin: 5rem 0 15rem 0;
      @include respond(tablet) {
       flex-direction: column;
       margin: 5rem 0 5rem 0;
      }
    @include respond(tablet) {
       padding: 2rem 0;
      }

    &__img {
      @include respond(tablet) {
        padding: 0rem 4rem;
     }
        &-photo {
            width: 100%;
            height: auto;
            max-width: 100%;
            display: block;
         }
    }
    &__box {
       margin: 6rem 0 0 -5rem;
       text-align: left;
       @include respond(tablet) {
        margin: 3rem 0 0 0;
        text-align: left;
     }
    }
    &__heading {
      @include heading;     
    }
    &__text {
        font-size: 1.6rem;
        margin-bottom: 3rem;
       
    }
    &__link {
      @include link;
      @include respond(tablet) {
        justify-content: center;
     }
    }
}