.number {
  margin: 25rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  position: relative;

  &__container {
    display: inline-block;
    display: block;


    &-one {
      font-size: 10rem;
    }
    &-two {
      font-size: 2rem;
      opacity: 60%;
    }
  }
}

.experience {
   background-color: $color-black;
   color: #fafafa;
   font-weight: 400;
   
   &__heading {
     font-size: 8rem;
     text-align: left;
     padding: 22rem 0;
     line-height: 1.2;
   }
}

.experience-date {
  font-size: 2rem;
  display: block;
  margin-bottom: 7rem;
}
