
  .color-white {
    background-color: #fafafa;
  }
  .color-green {
    background-color: #BCC6BC;
  }
  .color-pink {
    background-color: #F6EEE3;
  }
  .color-black {
    background-color: #000;
  }
  .color-purple {
    background-color: #D3CCCC;
  }
  .color-orange {
    background-color: #F6EEE3;
  }
  