.projects {
  display: flex;
  justify-content: space-between;

  &__heading {
     font-size: 5rem;
     margin-right: 7rem;
  }
  &__copy {
    font-size: 2rem;
    opacity: 70%;
    width: 55%;
    line-height: 2.7;
  }
}