.description{
  display: flex;
  justify-content: space-between;

  &__heading {
     font-size: 5rem;
     margin-right: 7rem;
  }
  &__copy {
    font-size: 2rem;
    opacity: 70%;
    width: 55%;
    line-height: 2.7;
  }
}


.projects {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20rem 0;
&__mockup{
 width: 100%;
 z-index: 1;
 
}
&__btn {
 background-color: transparent;
 padding: 1.5rem 4rem;
 border: 1px solid $color-black;
 z-index: 1000;
 color: $color-black;
 font-size: 2rem;
 letter-spacing: .7px;
 text-decoration: none;
 &:not(:last-child) {
   margin-right: 4rem;
 }
 &:first-child {
   background-color: $color-black;
   color: $color-white;
 }
}
}
.btn-c {
display: flex;
justify-content: space-between;

}