@keyframes slideUp {
  from {
   top: 0px;
  }
  to{ 
    top: -100%;
  }
}

.hidding {
    overflow: hidden;
}


@keyframes fade-in {
  0% {
      opacity: 0%;
      top: -160px;
  }
  50% {
      opacity: 1;
      top: -180px;
  }
  100% {
      opacity: 1;
      top: -180px;
  }
}

@keyframes colorChange {
  0% { 
    color:$color-white; 
  }
  50% { 
    color:$color-white; 
  }
  100% { 
    color: $color-black; 
  }
}
 
@keyframes text-animation {
  0% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0deg);
  }
}


 