* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face { font-family: 'Schnyder L'; src: url('../../assets/SchnyderWideL-Bold.otf'); } 
@font-face { font-family: 'SCTO'; src: url('../../assets/Scto\ Grotesk\ A\ Regular.otf'); } 

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    min-height: 100%;
      @include respond(tab-land) {  
       font-size: 50%;
    }
    @include respond(tablet) {
       font-size: 45%;
    }
    @include respond(phone) {
        font-size: 40%;
    }
}
body {
    font-family: 'SCTO', sans-serif;
    line-height: 1.6;
    color: $color-black;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background: $color-primary;
    text-align: left;
    padding-bottom: 20px !important;
    min-height: 100%;
    overflow-x: hidden; 
    transition: background 1s ease;
}
.container {
    width: 110rem;
    margin: 0 auto;
    @include respond(tablet) {
        width: 100%;
        padding: 0 4rem;
        overflow: hidden;
    }
}
::selection {
    background-color: $color-white;
    color: $color-black;
}
::-webkit-scrollbar {
    width: 0;
  }